@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Averox';
  src: url('/public/fonts/averox.ttf') format('truetype');
  font-weight: 600 !important;
  font-style: normal;
}

.averoxfont {
  font-family: 'Averox', sans-serif !important;
}

body {
  background-color: var(--bg);
  color: var(--white);
}

*{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

*::selection {
  color: #1FC827;
  background-color: #b1fcb5;
}

:root {
  --bg: #141414;
  --white: #fff;
  --black: #000;
  --green: #1FC827;
  --blackhd: #1A1A1A;
}

*::-webkit-scrollbar {
  display: none;
}

.welcome{
  background-image: url("../public//assets//homebg1.svg");
}

.home-input *{
  outline: none;
  border: none;
}

.gra {
  background: linear-gradient(
  to bottom, 
  #00C782 0%, 
  #78E0BC 16%, 
  #FBFBFB 50%
);
}

.ques-con {
  width: 20em;
  min-width: 20em;
  max-width: 20em;
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1.5em;
  border:1px solid #262626;
  border-radius: 10px;
}
  
.options-con {
  width: 20em;
  min-width: 20em;
  max-width: 20em;
  height: 12em;
  text-align: start;
  display: flex;
  justify-content: start;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  padding: 1.5em;
  border-radius: 12px;
  color: black;
  padding-right: 2.2em;
}

.prop-con,.prop-con-pro{
  width: 25em;
  min-width: 25em;
  max-width: 25em;
  text-align: start;
  display: flex;
  justify-content: start;
  flex-direction: column;
  gap: 10px;
  border-radius: 12px;
  padding: 1.5em;
} 

.prop-con-pro{
  flex-direction: row;
  gap: 2em;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  background-color: #F3F3F3;
  border: none;
}

.spon-div {
  width: 10em;
  min-width: 10em;
  max-width: 10em;
  height: 8em;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
}

.input-div,.input-div-con{
  background-color: white;
  border: none;
  outline:none;
  border-radius: 5px;
  width: 80%;
  padding: 4px 10px;
  color: #6E6E6E;
  font-size: 14px;
  margin: 6px 0 0 0;
}

@media only screen and (max-width:600px) {
    .input-div{
      width: 100%;
    }
}

.input-div-con{
  width: 100%;
  background-color: #F0F0F0;
}

.input-div::placeholder {
  color: grey;
  opacity: 1; 
}

.login-con{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.otp-box input {
  width: 2em !important;
  height: 2em !important;
  text-align: center;
  font-size: 1.2em;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 0.5em;
  outline: none;
  color: green;
}

.line {
  position: absolute;
  top: 8em;
  left: 1.8em;
  max-height: 85%;
  overflow: hidden;
  z-index: -999;
}

.searchbar{
  min-height: fit-content;
}
  
.css-10ufb1t-MuiSlider-root,.css-188mx6n-MuiSlider-root,.css-1228x3t,.css-1snpg4o {
  color: #1FC827 !important;
}

.CircularProgressbar .CircularProgressbar-text{
  font-weight: 600 !important;
}

.truncate-text {
  line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

@media only screen and (max-width:600px) {
  .prop-con,.prop-con-pro{
    width: 21em;
    min-width: 21em;
    max-width: 21em;
  } 
  .searchbar{
    height: 85vh;
  }
}